[Unit]
Description=Metlo Agent
After=network-online.target

[Service]
Restart=on-failure
RestartSec=2
ExecStart=/usr/local/bin/metlo-agent

[Install]
WantedBy=multi-user.target